@keyframes fadein {
  to {
    opacity: 1;
  }
}
section {
  position: relative;
}

.kv {
  height: 400%;
  overflow: hidden;
  opacity: 0;
  animation: fadein 1s forwards;
}
.kv::before {
  position: fixed;
  display: block;
  content: "";
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/kv-bg.jpg") no-repeat center center;
  background-size: cover;
}

.kv-fix {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
}
.kv-fix.hide {
  opacity: 0;
}
.kv-fix > div {
  display: block;
  position: absolute;
  transition: transform 0.1s, filter 0.1s;
  transform: translateZ(0) translate(0, -50%);
  will-change: transform;
}
.kv-fix > div > div,
.kv-fix > div img {
  transition: transform 0.5s, filter 0.5s;
}
.kv-fix .pool {
  top: 50%;
  left: -3%;
  width: 30%;
  padding-top: 30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
}
.kv-fix .pool > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
.kv-fix .crystal {
  width: 25%;
  left: 10%;
  top: 52%;
}
.kv-fix .head {
  width: 12%;
  left: 7%;
  top: 70%;
}
.kv-fix .cloud {
  width: 22%;
  left: 48%;
  top: 30%;
}
.kv-fix .computer {
  width: 40%;
  right: 5%;
  top: 35%;
}
.kv-fix .camera {
  width: 5%;
  left: 45%;
  top: 65%;
}
.kv-fix .phone {
  width: 10%;
  left: 30%;
  top: 40%;
}
.kv-fix .unicorn {
  width: 22%;
  right: 10%;
  top: 75%;
}
.kv-fix .flower {
  width: 12%;
  left: 37%;
  top: 10%;
}
.kv-fix .doll {
  width: 10%;
  left: 10%;
  top: 15%;
}
.kv-fix .duck {
  width: 8%;
  right: 4%;
  top: 62%;
}
.kv-fix .bag {
  width: 10%;
  left: 25%;
  top: 85%;
}
.kv-fix .eye {
  width: 8%;
  left: 53%;
  top: 82%;
}
.kv-fix .teeth {
  width: 10%;
  left: 62%;
  top: 13%;
}

.kv h1,
.kv .fake-h1 {
  position: absolute;
  font-family: Barlow;
  font-size: 9vw;
  top: 12%;
  right: 10%;
  font-weight: bold;
  transform: translateY(-50%);
  color: #1936ed;
  -webkit-text-stroke: 2px #1936ed;
}
.kv h2,
.kv .fake-h2 {
  position: absolute;
  font-family: DM Serif Display;
  font-size: 7vw;
  top: 40%;
  left: 5%;
  font-weight: normal;
  transform: translateY(-50%);
  font-style: italic;
  letter-spacing: 0.25vw;
  color: #1936ed;
  -webkit-text-stroke: 2px #1936ed;
  transition: transform 0.1s;
}
.kv h3,
.kv .fake-h3 {
  position: absolute;
  font-family: Barlow;
  font-size: 5vw;
  top: 60%;
  right: 12%;
  font-weight: bold;
  transform: translateY(-50%);
  color: #1936ed;
  -webkit-text-stroke: 2px #1936ed;
}

.name-1,
.name-2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-family: DM Serif Display;
  font-style: italic;
  font-size: 1.25vw;
  color: #1936ed;
  transform: translate(0, -50%);
  letter-spacing: 0.05vw;
  transition: gap 0.1s;
}
.name-1 p,
.name-2 p {
  transform: rotate(-1deg);
}

.name-1 {
  top: 5%;
  left: 75%;
}

.name-2 {
  font-size: 1vw;
  top: 30%;
  left: 23%;
}

.skill {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5vw;
  align-items: flex-end;
  position: absolute;
  top: 72%;
  left: 40%;
  font-family: DM Serif Display;
  font-size: 3.5vw;
  font-weight: bold;
  font-style: italic;
  color: #1936ed;
  transform: translate(0, -50%);
  text-shadow: -1px -1px 0 #fff022, 1px 1px 0 #FFF;
  transition: gap 0.5s;
}
.skill p {
  transform: rotate(-2deg);
}

.content {
  position: relative;
  opacity: 0;
  padding-bottom: 5%;
  animation: fadein 1s forwards;
}
.content .banner {
  position: relative;
}
.content .banner.active .lamp {
  opacity: 1;
  transform: none;
}
.content .banner.active .sky,
.content .banner.active .meadow {
  opacity: 1;
  transform: none;
}
.content .banner.active .couch {
  opacity: 1;
  transform: none;
}
.content .banner.active h4 {
  opacity: 1;
  filter: blur(0);
}
.content .banner .mountain {
  z-index: 1;
  position: relative;
}
.content .banner .lamp {
  display: block;
  position: absolute;
  top: -30%;
  left: 10%;
  width: 20%;
  transform-origin: bottom right;
  opacity: 0;
  transform: translateY(100%) rotate(-35deg);
  transition: transform 0.75s 0.25s, opacity 0.75s 0.25s;
}
.content .banner .sky {
  display: block;
  position: absolute;
  top: -22%;
  left: 47%;
  width: 32%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.75s, opacity 0.75s;
}
.content .banner .couch {
  z-index: 1;
  display: block;
  position: absolute;
  top: 20%;
  right: 12%;
  width: 17%;
  opacity: 0;
  transform-origin: bottom left;
  transform: translateY(20%) rotate(15deg);
  transition: transform 0.75s 0.75s, opacity 0.75s 0.75s;
}
.content .banner .meadow {
  position: relative;
  z-index: 0;
  margin-top: -15%;
  opacity: 0;
  transform: translateY(-20%);
  transition: transform 0.75s, opacity 0.75s;
}
.content .banner h4 {
  position: relative;
  z-index: 1;
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Barlow;
  font-weight: bold;
  letter-spacing: 0.5vw;
  color: #1936ed;
  text-shadow: 1px 1px 0 #FFF;
  opacity: 0;
  filter: blur(10px);
  transition: filter 0.75s 1s, opacity 0.75s 1s;
}
.content .banner h4 span {
  font-family: DM Serif Display;
  text-shadow: -1px -1px 0 #FFF, 1px 2px 0 #fff022;
}
.content .banner h4::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 120%;
  border: 2px solid #1936ed;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.content .banner h4::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 55%;
  width: 150%;
  height: 120%;
  border: 2px solid #1936ed;
  border-radius: 150% 100% 125% 100%;
  filter: drop-shadow(1px -1px 0 #fff022);
}

.project-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 6vw;
}
.project-wrap a {
  position: relative;
  width: 25%;
  padding-top: 25%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  transition: filter 0.5s;
}
.project-wrap a::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}
.project-wrap a p {
  position: absolute;
  font-size: 2vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
  color: #1936ed;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  transition: transform 0.5s;
}
.project-wrap a:nth-child(4n) {
  border-radius: 150% 125% 150% 125%/110% 125% 135% 150%;
}
.project-wrap a:nth-child(4n) p {
  top: 30%;
  left: 25%;
  text-shadow: -1px 1px 0 #fff022, 1px 0 0 #FFF;
}
.project-wrap a:nth-child(4n+1) {
  border-radius: 135% 150% 125% 150%/150% 150% 125% 150%;
}
.project-wrap a:nth-child(4n+1) p {
  top: 97.5%;
  left: 55%;
  text-shadow: 0 1px 0 #fff022, -1px 1px 0 #FFF;
}
.project-wrap a:nth-child(4n+2) {
  border-radius: 100% 175% 150% 125%/125% 120% 175% 125%;
}
.project-wrap a:nth-child(4n+2) p {
  top: 10%;
  right: 5%;
  text-shadow: 1px 0 0 #fff022, 1px 1px 0 #FFF;
}
.project-wrap a:nth-child(4n+3) {
  border-radius: 125% 150% 125% 150%/175% 125% 150% 125%;
}
.project-wrap a:nth-child(4n+3) p {
  top: 40%;
  right: 5%;
  text-shadow: 1px -1px 0 #fff022, 0 1px 0 #FFF;
}
.project-wrap a:nth-child(5n) {
  top: -1vw;
  left: 1vw;
}
.project-wrap a:nth-child(5n)::before {
  width: 90%;
  height: 95%;
  top: 45%;
  left: 45%;
  border: 2px solid #1936ed;
  border-radius: 125% 150% 125% 150%/175% 125% 150% 125%;
}
.project-wrap a:nth-child(5n+1) {
  top: -1.5vw;
  left: -1vw;
}
.project-wrap a:nth-child(5n+1)::before {
  width: 100%;
  height: 90%;
  top: 50%;
  left: 55%;
  border: 2px solid #fff022;
  border-radius: 135% 150% 125% 150%/150% 150% 125% 150%;
}
.project-wrap a:nth-child(5n+2) {
  top: 1.5vw;
  left: -0.5vw;
}
.project-wrap a:nth-child(5n+3) {
  top: -1vw;
  left: 1.5vw;
}
.project-wrap a:nth-child(5n+3)::before {
  width: 100%;
  height: 105%;
  top: 50%;
  left: 45%;
  border: 2px solid #1936ed;
  border-radius: 100% 175% 150% 125%/125% 120% 175% 125%;
  filter: drop-shadow(1px -1px 0 #fff022);
}

.viewall {
  position: relative;
  display: block;
  font-family: DM Serif Display;
  font-size: 3vw;
  width: 15%;
  margin: 5% auto;
  color: #1936ed;
  text-align: center;
  transition: filter 0.5s, transform 0.5s;
}
.viewall::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 75%;
  width: 90%;
  height: 80%;
  border: 2px solid #1936ed;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

@media only screen and (min-width: 1025px) {
  .project-wrap a:hover:nth-child(4n) p {
    transform: translate(-25%, -10%);
  }
  .project-wrap a:hover:nth-child(4n+1) p {
    transform: translate(-65%, -35%);
  }
  .project-wrap a:hover:nth-child(4n+2) p {
    transform: translate(-35%, -35%);
  }
  .project-wrap a:hover:nth-child(4n+3) p {
    transform: translate(-70%, -100%);
  }
  .project-wrap a:hover:nth-child(5n)::before, .project-wrap a:hover:nth-child(5n+1)::before, .project-wrap a:hover:nth-child(5n+3)::before {
    opacity: 1;
  }
  .project-wrap a:hover:nth-child(5n+2) {
    filter: drop-shadow(0.5vw 1vw 0 #1936ed);
  }
  .project-wrap a:hover:nth-child(5n+4) {
    filter: drop-shadow(-0.5vw -0.25vw 0 #fff022);
  }
  .viewall:hover {
    filter: blur(3px);
  }
}
@media only screen and (max-width: 1024px) {
  .kv-fix .pool {
    top: 65%;
    left: -15%;
    width: 60%;
    padding-top: 60%;
  }
  .kv-fix .crystal {
    width: 50%;
    left: 10%;
    top: 65%;
  }
  .kv-fix .head {
    width: 25%;
    left: 10%;
    top: 80%;
  }
  .kv-fix .cloud {
    width: 40%;
    left: 15%;
    top: 26%;
  }
  .kv-fix .computer {
    width: 70%;
    right: -5%;
    top: 20%;
  }
  .kv-fix .camera {
    width: 12%;
    left: 45%;
    top: 62%;
  }
  .kv-fix .phone {
    width: 15%;
    left: 26%;
    top: 42%;
  }
  .kv-fix .unicorn {
    width: 40%;
    right: -8%;
    top: 70%;
  }
  .kv-fix .flower {
    width: 25%;
    left: 22%;
    top: 5%;
  }
  .kv-fix .doll {
    width: 15%;
    left: 3%;
    top: 18%;
  }
  .kv-fix .duck {
    width: 12%;
    right: 4%;
    top: 55%;
  }
  .kv-fix .bag {
    width: 18%;
    left: 42%;
    top: 90%;
  }
  .kv-fix .eye {
    width: 13%;
    left: 70%;
    top: 88%;
  }
  .kv-fix .teeth {
    width: 20%;
    left: 62%;
    top: 46%;
  }
  .kv h1,
  .kv .fake-h1 {
    font-size: 16vw;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  .kv h2,
  .kv .fake-h2 {
    font-size: 15vw;
    line-height: 80%;
  }
  .kv h3,
  .kv .fake-h3 {
    font-size: 10vw;
    top: 60%;
    right: 8%;
  }
  .name-1,
  .name-2 {
    font-size: 4vw;
    letter-spacing: 0.05vw;
  }
  .name-1 p,
  .name-2 p {
    transform: rotate(0);
  }
  .name-1 {
    top: 5%;
    left: 60%;
  }
  .name-2 {
    font-size: 3.5vw;
    top: 30%;
    left: 33%;
  }
  .skill {
    letter-spacing: 0.25vw;
    font-size: 8vw;
    left: 30%;
  }
  .content .banner .lamp {
    top: -50%;
    left: 10%;
    width: 30%;
    transform: translateY(50%) rotate(0);
  }
  .content .banner .sky {
    top: -32%;
    left: 35%;
    width: 40%;
  }
  .content .banner .couch {
    top: 10%;
    right: 5%;
    width: 25%;
    transform: translateY(50%) rotate(0);
  }
  .content .banner h4 {
    font-size: 12vw;
  }
  .project-wrap {
    width: 90%;
    gap: 5vw;
  }
  .project-wrap a {
    width: 28%;
    padding-top: 28%;
    top: 0 !important;
    left: 0 !important;
  }
  .project-wrap a::before {
    display: none;
  }
  .project-wrap a p {
    font-size: 3vw;
    line-height: 125%;
    top: auto !important;
    bottom: 5% !important;
    left: -5% !important;
    right: auto !important;
    transform: none;
    filter: none !important;
    text-shadow: 1px 1px 0 #FFF !important;
  }
  .viewall {
    font-size: 5vw;
    width: 25%;
    margin: 10% auto;
  }
}
@media only screen and (max-width: 640px) {
  .project-wrap {
    width: 90%;
    gap: 10vw;
  }
  .project-wrap a {
    width: 40%;
    padding-top: 40%;
  }
  .project-wrap a:nth-child(9) {
    display: none;
  }
  .project-wrap a p {
    font-size: 4.5vw;
  }
  .viewall {
    font-size: 7vw;
    width: 35%;
  }
}/*# sourceMappingURL=index.css.map */