@import 'set'

@keyframes fadein
    to
        opacity: 1                
            
section
    position: relative
.kv
    background: #97afb3
    height: 400dvh
    overflow: hidden
    opacity: 0
    animation: fadein 1s forwards
    &::before
        position: fixed
        display: block
        content: ''
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: url('../img/kv-bg.jpg') no-repeat center center
        background-size: cover

.kv-fix
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: opacity 1s
    &.hide
        opacity: 0
    > div
        position: absolute
        transition: transform 0.1s, filter 0.1s
        > div,
        img
            transition: transform 0.5s, filter 0.5s

    .pool
        top: 50%
        left: -3%
        width: 30%
        padding-top: 30%
        +circle
        overflow: hidden
        transform: translate(0, -50%)
        > div
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            +bgCover

    .crystal
        position: absolute
        display: block
        width: 25%
        left: 10%
        top: 52%
        transform: translate(0, -50%)

    .head
        position: absolute
        display: block
        width: 12%
        left: 7%
        top: 70%
        transform: translate(0, -50%) 

    .cloud
        position: absolute
        display: block
        width: 22%
        left: 48%
        top: 30%
        transform: translateY(-50%)

    .computer
        position: absolute
        display: block
        width: 40%
        right: 5%
        top: 35%
        transform: translate(0, -50%) rotate(8deg)

    .camera
        position: absolute
        display: block
        width: 5%
        left: 45%
        top: 65%
        transform: translateY(-50%) rotate(-8deg)

    .phone
        position: absolute
        display: block
        width: 10%
        left: 30%
        top: 40%
        transform: translateY(-50%) rotate(-12deg)

    .unicorn
        position: absolute
        display: block
        width: 22%
        right: 10%
        top: 75%
        transform: translateY(-50%) rotate(-8deg)

    .flower
        position: absolute
        display: block
        width: 12%
        left: 37%
        top: 10%
        transform: translateY(-50%)

    .doll
        position: absolute
        display: block
        width: 10%
        left: 10%
        top: 15%
        transform: translateY(-50%)

    .duck
        position: absolute
        display: block
        width: 8%
        right: 4%
        top: 62%
        transform: translateY(-50%)

    .bag
        position: absolute
        display: block
        width: 10%
        left: 25%
        top: 85%
        transform: translateY(-50%)

    .eye
        position: absolute
        display: block
        width: 8%
        left: 53%
        top: 82%
        transform: translateY(-50%)

    .teeth
        position: absolute
        display: block
        width: 10%
        left: 62%
        top: 13%
        transform: translateY(-50%)

.kv
    h1,
    .fake-h1
        position: absolute
        font-family: Barlow
        font-size: 9vw
        top: 12%
        right: 10%
        font-weight: bold
        transform: translateY(-50%)
        color: $main
        -webkit-text-stroke: 2px $main

    h2,
    .fake-h2
        position: absolute
        font-family: DM Serif Display
        font-size: 7vw
        top: 40%
        left: 5%
        font-weight: normal
        transform: translateY(-50%)
        font-style: italic
        letter-spacing: 0.25vw
        color: $main
        -webkit-text-stroke: 2px $main
        transition: transform 0.1s

    h3,
    .fake-h3
        position: absolute
        font-family: Barlow
        font-size: 5vw
        top: 60%
        right: 12%
        font-weight: bold
        transform: translateY(-50%)
        color: $main
        -webkit-text-stroke: 2px $main

.name-1,
.name-2
    position: absolute
    display: flex
    flex-direction: column
    font-weight: normal
    font-family: DM Serif Display
    font-style: italic
    font-size: 1.25vw
    color: $main
    transform: translate(0, -50%)
    letter-spacing: 0.05vw
    transition: gap 0.1s
    p
        transform: rotate(-1deg)

.name-1
    top: 5%
    left: 75%
.name-2
    font-size: 1vw
    top: 30%
    left: 23%

.skill
    display: flex
    flex-direction: column
    letter-spacing: 0.5vw
    align-items: flex-end
    position: absolute
    top: 72%
    left: 40%
    font-family: DM Serif Display
    font-size: 3.5vw
    font-weight: bold
    font-style: italic
    color: $main
    transform: translate(0, -50%)
    text-shadow: -1px -1px 0 $vise, 1px 1px 0 #FFF
    transition: gap 0.5s
    p
        transform: rotate(-2deg)   

.content
    position: relative
    opacity: 0
    animation: fadein 1s forwards
    .banner
        position: relative
        &.active
            .lamp
                // animation: pop 0.75s 0.25s forwards
                opacity: 1
                transform: none
            .sky,
            .meadow
                // animation: pop 0.75s 0s forwards
                opacity: 1
                transform: none
            .couch
                // animation: pop 0.75s 0.75s forwards
                opacity: 1
                transform: none
            h4
                // animation: clear 0.5s 1s forwards
                opacity: 1
                filter: blur(0)
        .mountain
            z-index: 1
            position: relative
        .lamp
            display: block
            position: absolute
            top: -30%
            left: 10%
            width: 20%
            transform-origin: bottom right
            opacity: 0
            transform: translateY(100%) rotate(-35deg)
            transition: transform 0.75s 0.25s, opacity 0.75s 0.25s
        .sky
            display: block
            position: absolute
            top: -22%
            left: 47%
            width: 32%
            opacity: 0
            transform: translateY(100%)
            transition: transform 0.75s, opacity 0.75s
        .couch
            z-index: 1
            display: block
            position: absolute
            top: 20%
            right: 12%
            width: 17%
            opacity: 0
            transform-origin: bottom left
            transform: translateY(20%) rotate(15deg)
            transition: transform 0.75s 0.75s, opacity 0.75s 0.75s
        .meadow
            position: relative
            z-index: 0
            margin-top: -15%
            opacity: 0
            transform: translateY(-20%)
            transition: transform 0.75s, opacity 0.75s
        h4
            position: relative
            z-index: 1
            font-size: 8vw
            +centerAb
            font-family: Barlow
            font-weight: bold
            letter-spacing: 0.5vw
            color: $main
            text-shadow: 1px 1px 0 #FFF
            opacity: 0
            filter: blur(10px)
            transition: filter 0.75s 1s, opacity 0.75s 1s
            span
                font-family: DM Serif Display
                text-shadow: -1px -1px 0 #FFF, 1px 2px 0 $vise
            &::before
                display: block
                content: ''
                +centerAb
                width: 150%
                height: 120%
                border: 2px solid $main
                +circle
            &::after
                display: block
                content: ''
                +centerAb
                top: 55%
                width: 150%
                height: 120%
                border: 2px solid $main
                border-radius: 150% 100% 125% 100%
                filter: drop-shadow(1px -1px 0 $vise)

.project-wrap
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 80%
    margin: auto
    gap: 6vw
    a
        position: relative
        width: 25%
        padding-top: 25%
        +bgCover
        transition: filter 0.5s
        &::before
            display: block
            content: ''
            +centerAb
            opacity: 0
            transition: opacity 0.5s
        p
            position: absolute
            font-size: 2vw
            font-weight: bold
            letter-spacing: 0.1vw
            color: $main
            transform: translate(-50%, -50%)
            white-space: nowrap
            transition: transform 0.5s
        &:nth-child(4n)
            border-radius: 150% 125% 150% 125% / 110% 125% 135% 150%
            p
                top: 30%
                left: 25%
                text-shadow: -1px 1px 0 $vise, 1px 0 0 #FFF
        &:nth-child(4n+1)
            border-radius: 135% 150% 125% 150% / 150% 150% 125% 150%
            p
                top: 97.5%
                left: 55%
                text-shadow: 0 1px 0 $vise, -1px 1px 0 #FFF
        &:nth-child(4n+2)
            border-radius: 100% 175% 150% 125% / 125% 120% 175% 125%
            p
                top: 10%
                right: 5%
                text-shadow: 1px 0 0 $vise, 1px 1px 0 #FFF
        &:nth-child(4n+3)
            border-radius: 125% 150% 125% 150% / 175% 125% 150% 125%
            p
                top: 40%
                right: 5%
                text-shadow: 1px -1px 0 $vise, 0 1px 0 #FFF
        &:nth-child(5n)
            top: -1vw
            left: 1vw
            &::before
                width: 90%
                height: 95%
                top: 45%
                left: 45%
                border: 2px solid $main
                border-radius: 125% 150% 125% 150% / 175% 125% 150% 125%
        &:nth-child(5n+1)
            top: -1.5vw
            left: -1vw
            &::before
                width: 100%
                height: 90%
                top: 50%
                left: 55%
                border: 2px solid $vise
                border-radius: 135% 150% 125% 150% / 150% 150% 125% 150%
        &:nth-child(5n+2)
            top: 1.5vw
            left: -0.5vw
        &:nth-child(5n+3)
            top: -1vw
            left: 1.5vw
            &::before
                width: 100%
                height: 105%
                top: 50%
                left: 45%
                border: 2px solid $main
                border-radius: 100% 175% 150% 125% / 125% 120% 175% 125%
                filter: drop-shadow(1px -1px 0 $vise)

.viewall
    position: relative
    display: block
    font-family: DM Serif Display
    font-size: 3vw
    width: 15%
    margin: 5% auto 10% auto
    color: $main
    text-align: center
    transition: filter 0.5s, transform 0.5s
    &::before
        display: block
        content: ''
        +centerAb
        top: 75%
        width: 90%
        height: 80%
        border: 2px solid $main
        +circle


@media only screen and (min-width: 1025px)
    .project-wrap
        a:hover
            &:nth-child(4n)
                p
                    transform: translate(-25%, -10%)
            &:nth-child(4n+1)
                p
                    transform: translate(-65%, -35%)
            &:nth-child(4n+2)
                p
                    transform: translate(-35%, -35%)
            &:nth-child(4n+3)
                p
                    transform: translate(-70%, -100%)
            &:nth-child(5n),
            &:nth-child(5n+1),
            &:nth-child(5n+3)
                &::before
                    opacity: 1
            &:nth-child(5n+2)
                filter: drop-shadow(0.5vw 1vw 0 $main)
            &:nth-child(5n+4)
                filter: drop-shadow(-0.5vw -0.25vw 0 $vise)
    .viewall:hover
        filter: blur(3px)